<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <p>Nous sommes une organisation à but non lucratif qui a pour but de mettre en interaction des personnes désireuses d'arts et partages . L'application est motivée par trois axes principaux : </p>
<h3>Solidarité</h3>
<p>Nous nous fixons comme mission de renforcer la cohésion sociale par le partage et l'échanges de services entre les personnes.</p>
<h3>L'Art durable</h3>
<p>Nous considérons que l'art doit occuper une part primordiale dans un modèle économique moderne, sain, et durable.</p>
<h3>Société plus humaine</h3>
<p>Nous espérons aider au développement d'une société basée avant tout sur les valeurs humaines : par l'entraide et le soutien, nous voulons une société où chacun peut se sentir utile et occuper sa juste place. </p>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>