<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Arts & Chat</title>
<link rel="stylesheet" href="AutreUtilisateur.css">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<style>
body {
	padding-top: 100px;
}
</style>
</head>
<body>

	<!-- Haut de page -->
	<nav th:insert="fragments/navbar :: nav_fragment"></nav>

	<div class="container">

		<div class="card">
			<div class="card-header card bg-info text-white">
				<h2>Profil</h2>

			</div>

			<div class="card-body">
				<table th:object="${utilisateur}" class="table table-hover">
					<!--  	<tr>
						<td><label>Id</label></td>
						<td th:utext="*{id}" /></td>
					</tr> -->
					<tr>
						<td><label>Nom</label></td>
						<td th:utext="*{nom}" /></td>
					</tr>
					<tr>
						<td><label>Prénom</label></td>
						<td th:utext="*{prenom}" /></td>
					</tr>
					<tr>
						<td><label>Sexe</label></td>
						<td th:utext="*{sexe.nonSexe}" /></td>
					</tr>

				</table>

			</div>
		</div>
		<br />

		<div class="publicard">
			<div th:each="publication: ${publications}">
				<div class="card" style="width: 18rem;">
					<div th:each="s: ${publication.support}" class="card-img-top">
						<img th:src="${s.chemin}" width="300" height="200" />
					</div>
					<!--  	<img src="" class="card-img-top" alt=""> -->
					<div class="card-body">
						<h5 class="card-title" th:text="${publication.titre}"></h5>
						<p class="card-text" th:text="${publication.texte}"></p>
					</div>
				</div>
			</div>
		</div>

		<div th:object="${utilisateur}">
			<iframe width="100%" height="450" style="border: 0" loading="lazy"
				allowfullscreen
				th:src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyCdUCHul7-8GSwK-Ko23Zef7XZhTV-VLqI&q='+*{rue}+', '+*{ville.codePostale}+' '+*{ville.localite}+', ' +*{ville.pays}">
			</iframe>
		</div>

		<!-- Pied de page -->
		<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>